{% extends 'base.html.twig' %}

{% block title %}Accueil Todo List!{% endblock %}

{% block header_title %}
    <h1>Bienvenue sur Todo List, l'application vous permettant de gérer l'ensemble de vos tâches sans effort !</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <a href="{{ path('task_create') }}" class="btn btn-success">Créer une nouvelle tâche</a>
        {% if tasks|length < 1 %}
            <div class="text-center text-danger fs-6 my-4">
                Vous n'avez pas encore de tâche enregistrée. Créer une nouvelle tâche. 
            </div>
        {% endif %}
        {% if tasks|length > 0 %}
            <a href="{{ path('task_list') }}" class="btn btn-info">Consulter la liste des tâches à faire</a>
            <a href="{{ path('task_list_is_done')}}" class="btn btn-secondary">Consulter la liste des tâches terminées</a>
        {% endif %}
    </div>
{% endblock %}
