body {
    font-family: "Agdasima", sans-serif;
    font-size: 1.5rem;
    background-color: #ecf0f1;
}

.title-main {
    font-family: "Londrina Solid", sans-serif;
    font-size: 1.7rem;
}

/* .size-home {
    width: 720px;
} */

