{% include "_partial/_head.html.twig" %}
<body>
	{% include "_partial/_nav.html.twig" %}
	{% include "_partial/_flash.html.twig" %}

	<div class="container">
		<div class="row">
			<div class="col-md-12"> 
                {% block body %}{% endblock %}
			</div>
		</div>
	</div>

		{% include "_partial/_footer.html.twig" %}
		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</body>
</html>
