{% include "_partial/_head.html.twig" %}

<body>
	{% include "_partial/_nav.html.twig" %}

	<!-- Page Content -->
	<div class="container-fluid d-flex">
		<div>
			{% if not app.user and 'login' != app.request.attributes.get('_route') %}
				<a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
			{% endif %}

			{% include "_partial/_flash.html.twig" %}

			{% block header_img %}
				<p>
					<img class="size-home" src="{{ asset('img/todolist-home-picture.png') }}" alt="todo list">
				</p>
			{% endblock %}

		</div>
		<div>
			{% block header_title %}{% endblock %}
			{% block body %}{% endblock %}
		</div>


	</div>

	<!-- /.container -->

	{% include "_partial/_footer.html.twig" %}
	{% block javascripts %}{% endblock %}
</body></html>
