{# display every flash message available #}
<div class="row">
	<div class="col-md-12">
		{% for label, messages in app.flashes %}
			{% for message in messages %}
				<div class="alert alert-{{ label }}">
                {% if label == "danger" %}
                    <strong>Oops !</strong>
                {% else %}
                    <strong>Superbe !</strong>
                {% endif %}
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	</div>
</div>
